﻿@model V8.Web.ViewModel.SalaryViewModel

<form asp-controller="Salary" asp-action="Create" id="SalaryDetailForm" method="post">
    @if (Model != null && Model.listOfSalarys != null)
    {
    <table id="tableSalary" class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Year)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Month)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdOffice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeSurname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdDivision)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdPosition)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Grade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BeginDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Birthday)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdentificationNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BaseSalary)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductionBonus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompensationBonus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Commission)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contributions)
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.listOfSalarys.Count; i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.listOfSalarys[i].Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.listOfSalarys[i].Month)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.listOfSalarys[i].OfficeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.listOfSalarys[i].EmployeeCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.listOfSalarys[i].EmployeeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.listOfSalarys[i].EmployeeSurname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.listOfSalarys[i].DivisionName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.listOfSalarys[i].PositionName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.listOfSalarys[i].Grade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.listOfSalarys[i].BeginDateShortDateString)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.listOfSalarys[i].BirthdayShortDateString)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.listOfSalarys[i].IdentificationNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.listOfSalarys[i].BaseSalary)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.listOfSalarys[i].ProductionBonus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.listOfSalarys[i].CompensationBonus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.listOfSalarys[i].Commission)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.listOfSalarys[i].Contributions)
                    </td>
                </tr>
                @Html.HiddenFor(modelItem => Model.listOfSalarys[i].Year)
                @Html.HiddenFor(modelItem => Model.listOfSalarys[i].Month)
                @Html.HiddenFor(modelItem => Model.listOfSalarys[i].IdOffice)
                @Html.HiddenFor(modelItem => Model.listOfSalarys[i].EmployeeCode)
                @Html.HiddenFor(modelItem => Model.listOfSalarys[i].EmployeeName)
                @Html.HiddenFor(modelItem => Model.listOfSalarys[i].EmployeeSurname)
                @Html.HiddenFor(modelItem => Model.listOfSalarys[i].IdDivision)
                @Html.HiddenFor(modelItem => Model.listOfSalarys[i].IdPosition)
                @Html.HiddenFor(modelItem => Model.listOfSalarys[i].Grade)
                @Html.HiddenFor(modelItem => Model.listOfSalarys[i].BeginDate)
                @Html.HiddenFor(modelItem => Model.listOfSalarys[i].Birthday)
                @Html.HiddenFor(modelItem => Model.listOfSalarys[i].IdentificationNumber)
                @Html.HiddenFor(modelItem => Model.listOfSalarys[i].BaseSalary)
                @Html.HiddenFor(modelItem => Model.listOfSalarys[i].ProductionBonus)
                @Html.HiddenFor(modelItem => Model.listOfSalarys[i].CompensationBonus)
                @Html.HiddenFor(modelItem => Model.listOfSalarys[i].Commission)
                @Html.HiddenFor(modelItem => Model.listOfSalarys[i].Contributions)
            }
            </tbody>
        </table>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
    else
    {
        <h4>Empty salarys.</h4>
    }
</form>
