﻿@model V8.Web.ViewModel.CalculatedSalaryBonoViewModel
@{
    decimal bono = 0.00M;
    decimal sumTotalSalary = 0.00M;
}

@if (Model != null && Model.listOfCalculatedSalarys != null)
{
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeFullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Division)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Position)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BeginDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Birthday)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdentificationNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalSalary)
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.listOfCalculatedSalarys.Count; i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.listOfCalculatedSalarys[i].EmployeeCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.listOfCalculatedSalarys[i].EmployeeFullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.listOfCalculatedSalarys[i].Division)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.listOfCalculatedSalarys[i].Position)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.listOfCalculatedSalarys[i].BeginDateShortDateString)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.listOfCalculatedSalarys[i].BirthdayShortDateString)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.listOfCalculatedSalarys[i].IdentificationNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.listOfCalculatedSalarys[i].TotalSalary)
                    </td>
                </tr>

                sumTotalSalary = sumTotalSalary + Model.listOfCalculatedSalarys[i].TotalSalary;
            }
        </tbody>
    </table>
    bono = sumTotalSalary / 3.00M;
    <h4>Bono: @bono.ToString("N2")</h4>
}
else
{
    <h4>Empty calculated salarys.</h4>
}