﻿@model V8.Web.ViewModel.CalculatedSalaryViewModel

@{
    ViewData["Title"] = "List Of Calculated Salarys";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List Of Calculated Salarys</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Salary" asp-action="FilterCalculatedSalarys" method="post"
      data-ajax="true" data-ajax-method="post" data-ajax-update="#ListOfCalculatedSalary" data-ajax-mode="replace" data-ajax-success="success"
      data-ajax-failure="failed" data-ajax-loading="#divLoading" data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="IdOffice" class="control-label"></label>
                <select asp-for="IdOffice" asp-items="@(new SelectList(Model.OfficeList, "Id","Name"))" class="form-control" id="ddlOffice"></select>
                <span asp-validation-for="IdOffice" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="IdDivision" class="control-label"></label>
                <select asp-for="IdDivision" asp-items="@(new SelectList(Model.DivisionList, "Id","Name"))" class="form-control" id="ddlDivision"></select>
                <span asp-validation-for="IdDivision" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="IdPosition" class="control-label"></label>
                <select asp-for="IdPosition" asp-items="@(new SelectList(Model.PositionList, "Id","Name"))" class="form-control" id="ddlPosition"></select>
                <span asp-validation-for="IdPosition" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input type="submit" value="Filter" class="btn btn-primary" />
            </div>
        </div>
    </div>

    <div id="ListOfCalculatedSalary">
        <partial name="_CalculatedSalarys" model="Model" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        success = function () {
        
        };

        failed = function (xhr) {
            alert(xhr.responseText)
            };

        onAjaxBegin = function () {
            $("#divLoading").removeClass("HideLoader").addClass("ShowLoader");
        }

        onAjaxComplete = function () {
            $("#divLoading").removeClass("ShowLoader").addClass("HideLoader");
        }  
    </script>
}