﻿@model V8.Web.ViewModel.CalculatedSalaryBonoViewModel

@{
    ViewData["Title"] = "List Of Calculated Salarys Bono";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List Of Calculated Salarys Bono</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Salary" asp-action="GetLastThreeCalculatedSalarys" method="post"
      data-ajax="true" data-ajax-method="post" data-ajax-update="#ListOfCalculatedSalaryBono" data-ajax-mode="replace" data-ajax-success="success"
      data-ajax-failure="failed" data-ajax-loading="#divLoading" data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="EmployeeCode" class="control-label"></label>
                <input asp-for="EmployeeCode" class="form-control" id="txtYear" />
                <span asp-validation-for="EmployeeCode" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2" style="margin-top:auto; margin-bottom:auto;">
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </div>
    </div>

    <div id="ListOfCalculatedSalaryBono">
        <partial name="_CalculatedSalarysBono" model="Model" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        success = function () {

        };

        failed = function (xhr) {
            alert(xhr.responseText)
        };


        onAjaxBegin = function() {
            $("#divLoading").removeClass("HideLoader").addClass("ShowLoader");
        }

        onAjaxComplete = function () {
            $("#divLoading").removeClass("ShowLoader").addClass("HideLoader");
        }  
    </script>
}