﻿@model V8.Web.ViewModel.SalaryViewModel

@{
    ViewData["Title"] = "Post Of Salarys";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Post Of Salarys</h1>

<hr />

<form asp-controller="Salary" asp-action="AddSalary" method="post"
      data-ajax="true" data-ajax-method="post" data-ajax-update="#ListOfSalaryDetail" data-ajax-mode="replace" data-ajax-success="success"
      data-ajax-failure="failed" data-ajax-loading="#divLoading" data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" id="txtYear" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="Month" class="control-label"></label>
                <input asp-for="Month" class="form-control" id="txtMonth" />
                <span asp-validation-for="Month" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="IdOffice" class="control-label"></label>
                <select asp-for="IdOffice" asp-items="@(new SelectList(Model.OfficeList, "Id","Name"))" class="form-control" id="ddlOffice"></select>
                <span asp-validation-for="IdOffice" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="EmployeeCode" class="control-label"></label>
                <input asp-for="EmployeeCode" class="form-control" id="txtEmployeeCode" />
                <span asp-validation-for="EmployeeCode" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="EmployeeName" class="control-label"></label>
                <input asp-for="EmployeeName" class="form-control" id="txtEmployeeName" />
                <span asp-validation-for="EmployeeName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="EmployeeSurname" class="control-label"></label>
                <input asp-for="EmployeeSurname" class="form-control" id="txtEmployeeSurname" />
                <span asp-validation-for="EmployeeSurname" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="IdDivision" class="control-label"></label>
                <select asp-for="IdDivision" asp-items="@(new SelectList(Model.DivisionList, "Id","Name"))" class="form-control" id="ddlDivision"></select>
                <span asp-validation-for="IdDivision" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="IdPosition" class="control-label"></label>
                <select asp-for="IdPosition" asp-items="@(new SelectList(Model.PositionList, "Id","Name"))" class="form-control" id="ddlPosition"></select>
                <span asp-validation-for="IdPosition" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="Grade" class="control-label"></label>
                <input asp-for="Grade" class="form-control" id="txtGrade" />
                <span asp-validation-for="Grade" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="BeginDate" class="control-label"></label>
                <input asp-for="BeginDate" class="form-control" type="text" value="" id="txtBeginDate" />
                <span asp-validation-for="BeginDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="Birthday" class="control-label"></label>
                <input asp-for="Birthday" class="form-control" type="text" value="" id="txtBirthday" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="IdentificationNumber" class="control-label"></label>
                <input asp-for="IdentificationNumber" class="form-control" id="txtIdNumber" />
                <span asp-validation-for="IdentificationNumber" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="BaseSalary" class="control-label"></label>
                <input asp-for="BaseSalary" class="form-control" id="txtBaseSalary" />
                <span asp-validation-for="BaseSalary" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="ProductionBonus" class="control-label"></label>
                <input asp-for="ProductionBonus" class="form-control" id="txtProductionBonus" />
                <span asp-validation-for="ProductionBonus" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="CompensationBonus" class="control-label"></label>
                <input asp-for="CompensationBonus" class="form-control" id="txtCompensationBonus" />
                <span asp-validation-for="CompensationBonus" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="Commission" class="control-label"></label>
                <input asp-for="Commission" class="form-control" id="txtCommission" />
                <span asp-validation-for="Commission" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="Contributions" class="control-label"></label>
                <input asp-for="Contributions" class="form-control" id="txtContributions" />
                <span asp-validation-for="Contributions" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input type="submit" value="Add To Detail" class="btn btn-primary" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="border-top: 2px solid grey;">
            <div class="form-group">
                <h4 style="text-decoration: underline;">List Of Salarys</h4>
            </div>
        </div>
    </div>
</form>

<div id="ListOfSalaryDetail">
    <partial name="_AddSalary" model="Model" />
</div>

<div class="row">
    <div class="col-md-12">
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    success = function () {
        $("#txtYear").val("0");
        $("#txtMonth").val("0");
        $("#ddlOffice").val("1");
        $("#txtEmployeeCode").val("");
        $("#txtEmployeeName").val("");
        $("#txtEmployeeSurname").val("");
        $("#ddlDivision").val("1");
        $("#ddlPosition").val("1");
        $("#txtGrade").val("0");
        $("#txtBeginDate").val("");
        $("#txtBirthday").val("");
        $("#txtIdNumber").val("");
        $("#txtBaseSalary").val("0.00");
        $("#txtProductionBonus").val("0.00");
        $("#txtCompensationBonus").val("0.00");
        $("#txtCommission").val("0.00");
        $("#txtContributions").val("0.00");

        var result = '@ViewData["Result"]';
        if (result.length > 0) {
            if (result === "1") {
                alert("Salary created succesfully!.");
            }
            else {
                alert("Salary creation failed!.");
            }
        }
    };

    failed = function (xhr) {
        alert(xhr.responseText)
    };

    onAjaxBegin = function () {
        $("#divLoading").removeClass("HideLoader").addClass("ShowLoader");
    }

    onAjaxComplete = function () {
        $("#divLoading").removeClass("ShowLoader").addClass("HideLoader");
    }  
</script>
}
